body {
    margin: 0;
    background-color: #71aa74;
    color: rgb(0, 0, 0);
}

header {
    background-color: #4c6b4d;
    color: white;
    text-align: center;
    padding: 20px;
}
x   

header h1 {
    margin: 0;
    font-size: 40px;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: #6b856b;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #dadada;
}

.kot {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

ul {
    line-height: 1.8;
}

footer {
    background-color: #2a682d;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
